body {
    background: linear-gradient(-90deg, #44a1e4, #e2b627);
    color: #bfb3ce;
    font-family: 'Segoe UI', sans-serif;
}

.card-title {
  color: #0d6efd;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

footer {
  font-size: 14px;
}
