body {
    background: linear-gradient(-90deg, #44a1e4, #e2b627);
    color: #bfb3ce;
    font-family: 'Segoe UI', sans-serif;
    height: 1000px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.list-group-item {
  background-color: #fff;
  border-left: 5px solid #28a745;
}
.list-group-item:hover{
    background-color: #90c2e6;
}
/* Navbar  */
.hover-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;

}

.dropdown-menu {
    transition: all 0.3s ease-in-out;
}

.hover-dropdown:hover>.dropdown-menu {
    display: block;
}

